@{
    ViewBag.Title = "Welcome to Sisyphus";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Sisyphus</h2>
        <p>
            Sisyphus is a story creator and replayer with the aim of creating decision based stories. The reader is free to decide what characters to follow at any point.
            Once the reader has completed the story it can be read again from many perspectives changing decisions - or retaining the origional decisions and following a new character.
            The intention is to generate a rich and open exploration experience into a changing world and story based upon your actions. 
            It is also intended as an intersting exercise for writers to deeply explore characters whilst keeping them true to themselves - based on their prior decisions.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Enter sisyphus as a reader</h2>
        <p>Here you will find the informatino you need to get going with consuming one of the stories Sisyphus has to offer.
        It will get you set up with an account and show you how to start instances of stories and how to explore.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Consume &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Produce content through Sisyphus</h2>
        <p>If you want to contribute this is where to begin. IT will show you how to start your own project or how to make contact and get involved with someon elses work.</p>
        <p>@Html.ActionLink("Writer Dashboard", "WriterDashboard")
            @*<a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Author &raquo;</a>*@
        </p>
    </div>
</div>