<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sisyphus.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sisyphus.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Sisyphus</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Sisyphus</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:r44hbo8vwu.database.windows.net,1433;Initial Catalog=Sisyphus;User ID=mrtortoise@r44hbo8vwu;Password=Readdyfreddy80" Name="Data Source=tcp:r44hbo8vwu.database.windows.net,1433;Initial Catalog=Sisyphus;User Id=mrtortoise@r44hbo8vwu;Password=Readdyfreddy80" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=WINGAY-PC\SQLEXPRESS;Initial Catalog=Sisyphus;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=WINGAY-PC\SQLEXPRESS;Initial Catalog=Sisyphus;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Sisyphus.Core.Repository.SisyphusContext" Order="2" Enabled="True">
          <Destination Path="Data Source=r44hbo8vwu.database.windows.net,1433;Initial Catalog=Sisyphus;Persist Security Info=True;User ID=mrtortoise;Password=Readdyfreddy80" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Sisyphus.Core.Repository.SisyphusContext, Sisyphus.Core" MigrationConfiguration="Sisyphus.Web.Migrations.Configuration, Sisyphus.Web" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:r44hbo8vwu.database.windows.net,1433;Initial Catalog=Sisyphus;User Id=mrtortoise@r44hbo8vwu;Password=Readdyfreddy80</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Sisyphus.Core.Repository.SisyphusContext-Web.config Connection String">
      <ParameterValue>Data Source=r44hbo8vwu.database.windows.net,1433;Initial Catalog=Sisyphus;Persist Security Info=True;User ID=mrtortoise;Password=Readdyfreddy80</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Sisyphus.Core.Repository.SisyphusContext" />
  </ItemGroup>
</Project>